footer.main-footer
	.footer__logo-wrap
		img.footer__logo(src="img/Logo-spoon.png" alt="footer-logo")
	h3.footer__title Gratia Restaurant
	p.footer__copyright.gratia-descr Copyright 2016. All rights reserved by symu
	include ../socials/socials