div(class="md-modal md-effect" id="modal-1")
		div(class="md-content")
			h3.md_title Contact us
			div.md-form
				form(action="")
					input(type="text" class="form__item first-name" placeholder="First name"  required="")
					input(type="text" class="form__item last-name" placeholder="Last name")
					input(type="email" class="form__item email" placeholder="Email address")
					input(type="text" class="form__item tel" placeholder="Tel"  required="")
					button.md-close.btn.wave.left Send! 
