.main-slider {
	width: 100%;
	height: 100vh;
	padding: 15px 5px;
	@add-mixin center;
	background: #0D1423;
	@media(--small) {
		padding: 55px 5px;
	}
	@media(--medium) {
		padding: 60px 50px;
	}
	@media(width>=998px) {
		padding: 60px 65px;
	}
	@media(--large) {
		padding: 65px 85px;
	}
}

.main-slider__img {
	size: 320px 280px;
	@media(--small) {
		size: 320px 200px;
	}
	@media(--medium) {
		size: auto 400px;
	}
	@media(--large) {
		size: auto 600px;
	}
}

.main-slider__next-slide , .main-slider__prev-slide {
	display: none;
	fill: none;
	stroke-miterlimit: 10;
	stroke: #FFF;
	opacity: .1;
	cursor: pointer;
	transition: stroke .3s ease-in-out, opacity .3s ease-in-out;
	&:active {
		opacity: 1;
		stroke: var(--accent-color);
	}
	@media (--medium) {
		display: block;
		&:hover {
			opacity: 1;
			stroke: var(--accent-color);
		}
	}
}

.slider__dots {
	position: absolute;
	left: 85px;
	bottom: 90px;
	display: flex;
	flex-flow: row nowrap;
	@add-mixin fontSize 14;
	@media(--small) {
		bottom: 30px;
	}
	@media(--medium) {
		flex-flow: column nowrap;
		@add-mixin fontSize 15;
		left: 85px;
		bottom: 30px;
	}
	@media(--large) {
		@add-mixin fontSize 16;
		left: 85px;
		bottom: 65px;
	}
}

.slider__dot {
	color: #fff;
	cursor: pointer;
	width: 70px;
	padding-bottom: 15px;
	vertical-align: middle;
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
  	position: relative;
  	overflow: hidden;
  	transition: color .3s ease-in-out;
  	&:active {
  		color: var(--accent-color);
  	}
  	@media (--medium) {
  		margin-bottom: 25px;
  		&:hover {
  			color: var(--accent-color);
  		}
  	}
  	&:before {
  		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 100%;
		bottom: 0;
		background: var(--accent-color);
		height: 2px;
		transition-property: right;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
  	}
  	&:hover:before, &:focus:before, &active:before {
  		right: 0;
  	}
	&:last-child {
		margin-bottom: 0;
	}
	&.active {
		color: var(--accent-color);
			&:before {
	  		content: "";
			position: absolute;
			z-index: -1;
			left: 0;
			right: 0;
			bottom: 0;
			background: var(--accent-color);
			height: 2px;
			transition-property: right;
			transition-duration: 0.3s;
			transition-timing-function: ease-out;
	  	}
	}
}

.slick-slider, .slick-list, .slick-track {
  	width: 100%;
  	height: 100vh;
}

.slick-slider {
    overflow: hidden;
    .slick-track {
        .slick-slide {
        	@add-mixin center;
        }
    }
}

.slick-arrow {
	display: none !important;
    top: 50%;
    &:before {
    		content: '';
    }
}

.slick-dots {
	display: none !important;
}

.main-slider__btn {
	@add-mixin fontSize 14;
	position: absolute;
	margin: 0 auto;
	bottom: 25px;
	padding: 10px 50px;
	background: transparent;
	@media(--small) {
		padding: 10px 30px;
		right: 50px;
		bottom: 30px;
	}
	@media(--medium) {
		@add-mixin fontSize 16;
		padding: 10px 40px;
		right: 60px;
		bottom: 55px;
	}
	@media(--large) {
		padding: 10px 50px;
		right: 65px;
		bottom: 85px;
	}
}

.main-slider__slide-bot {
	display: none;
	position: absolute;
	margin: 0 auto;
	bottom: 45px;
	text-align: center;
	&:active .main-slider__slide-arrow {
		opacity: 1;
		fill: var(--accent-color);
	}
	@media (--medium) {
		display: block;
		&:hover .main-slider__slide-arrow {
			opacity: 1;
			fill: var(--accent-color);
		}
	}
}

.main-slider__slide-text {
	color: #485471;
	padding-bottom: 26px;
}

.main-slider__slide-arrow {
	opacity: .1;
	fill: #FFF;
	transition: fill .3s ease-in-out, opacity .3s ease-in-out;
}