    .main-footer {
        background: #2f257e;
        font-family: $roboto;
    }
    
    .footer__logo {
        padding: 80px 0 15px 0;
        @media (--small) {
            text-align: center;
        }
    }
    
    .footer__top {
        display: flex;
        flex-flow: row nowrap;
        padding-bottom: 90px;
        justify-content: space-between;
        @media (--medium) {
            padding: * 15px;
        }
        @media (--small) {
            flex-direction: column;
            padding-bottom: 40px;
        }
    }
    
    .footer__top-left {
        width: 60%;
        @media (--small) {
            width: 100%;
            padding: 15px;
        }
    }
    
    .footer__top-text {
        margin: 0;
        padding: 0;
        font-size: 1.125rem;
        line-height: 2rem;
        color: rgba(255, 255, 255, 0.7);
    }
    
    .footer__top-right {
        text-align: center;
    }
    
    .footer__bottom {
        display: flex;
        flex-flow: row nowrap;
        /* justify-content: space-between; */
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding: 15px 0;
        @media (--medium) {
            padding: * 15px;
        }
        @media (--small) {
            flex-direction: column;
        }
    }
    
    .footer__bottom-text {
        font-size: 0.875rem;
        line-height: 1rem;
        margin: 0;
        padding: 0;
        color: #fff;
        text-transform: uppercase;
        @media (--small) {
            font-size: 0.5rem;
            line-height: 0.6rem;
        }
    }
    
    .footer__bottom-right {
        margin-left: auto;
        @media (--small) {
            margin: 0;
        }
    }
    
    .footer__bottom-left,
    .footer__bottom-right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .footer__bottom-link,
    .footer__bottom-icon {
        color: rgba(76, 169, 255, 255);
        padding: 0 5px;
    }
    
    .footer__bottom,
    .footer__bottom-link,
    .footer__bottom-icon {
        @media (--small) {
            font-size: 0.5rem;
            line-height: 0.6rem;
        }
    }