footer.main-footer
	.container
		.footer__logo
			img.footer__img(src="./img/logo.png" alt="Logo")
		.footer__top  
			.footer__top-left
				p.footer__top-text 
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.incididunt ut labore et dolore magna aliqua.

			.footer__top-right
				include ../modal/modal
				button.btn.wave.left(class="md-trigger" data-modal="modal-1")
					| CONTACT US
				.md-overlay
		.footer__bottom(class='container')
			.footer__bottom-left
				p.footer__bottom-text Copyright &copy; 2015. 
				a.footer__bottom-link(href='#') LUNA STUDIO. 
				p.footer__bottom-text All rights reserved.
			.footer__bottom-right
				p.footer__bottom-text DESIGNED with
				i(class="material-icons footer__bottom-icon") favorite
				p.footer__bottom-text BY 
				a.footer__bottom-link(href='#') SYMU.CO
			include ../backToTop/scroll