section.details
	.details-outer
		.details-inner
			h3.details__title.gratia-heading details
			p.details__descr.gratia-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit
			a.details__btn.gratia-btn(href='menu.html') preparation of our dishes

