footer.main-footer
	.footer-wrapper
		a.back-to__link(href="https://www.kickstarter.com/projects/978262034/985752016?ref=1lo0d6&token=cfb32dba")
			i.fas.fa-arrow-left.back-to__arrow
			| Baсk to the Ugears Campaign on Kickstarter
		a.send-to__link(href="#") Send a message to the creator
		p.send-to__descr if you have any questions about the project.