.result__block
	h2.resuls__heading.ugears-heading Step 3 from 3. Select your country or region
	select.region__select
		option(selected disabled) Select a region of shipping:
		option(region="USACanada" value="USA") United States
		option(region="USACanada" value="Canada") Canada
		option(region="EU" value="EU") Europe
		option(region="rotw" value="Rest of the World") Rest of the World
	.total-wrapper
		.reward-tiers
			h2.reward-tiers__heading Reward Tiers
			p.reward-tiers__items
		.add-ons
			h2.add-ons__heading Add-Ons
			p.add-ons__items
		.results
			.weight-wrap
				p.total__weight Total weight of chosen rewards and Add-ons
				p.weight
			.pledge-wrap
				p.amount__pledge Amount for your pledge
				p.pledge
			.fee-wrap
				p.shipping__fee Shipping fee
				p.fee
			.delivery-wrap
				p.delivery Estimated delivery
				p.delivery--date July, 2018
			.summ-wrap
				p.total__pledge Total pledge (inc. shipping fee)
				p.summary